<h1>Заявка на активацию аккаунта <%= @email %></h1>
    <p>
      Вам, как администратору приложения МедСС, направлена заявка на активацию аккаунта от <%= @name %>
      из <%= @org_name %>.<br>
    </p>
    <p>
      Для активации нажмите ссылку: <%= @url %>.
    </p>
    <p>Хорошего Вам дня!</p>