число <span class='value'>
  <%= datePrint && !(empty || (year && year > 0)) ? datePrint.strftime("%-d") : empty ? "" : "---" %></span>
месяц <span class='value'><%= datePrint && !(empty || (year && year > 0)) ? ["январь", "февраль", "март", "апрель", "май", "июнь", "июль", "август", "сентябрь", "октябрь", "ноябрь", "декабрь"][datePrint.month - 1] : empty ? "" : "------" %></span>
год <span class='value'><%= datePrint && !(empty || (year && year > 0)) ? datePrint.strftime("%Y") : (year && year > 0) ? year : empty ? "" : "------" %></span>