число <span class='value'>
  <%= datePrint && !empty ? datePrint.strftime("%-d") : empty ? "" : "---" %></span>
месяц <span class='value'><%= datePrint && !empty ? ["январь", "февраль", "март", "апрель", "май", "июнь", "июль", "август", "сентябрь", "август", "октябрь", "ноябрь", "декабрь"][datePrint.month - 1] : empty ? "" : "------" %></span>
год <span class='value'><%= datePrint && !empty ? datePrint.strftime("%Y") : empty ? "" : "------" %></span>